test.py
run.py
WhatToDoList.txt

*.rar

pythonScripts/Lib/site-packages/Crypto/
pythonScripts/Lib/site-packages/Eel-0.16.0.dist-info/
pythonScripts/Lib/site-packages/__pycache__/bottle.cpython-312.pyc
pythonScripts/Lib/site-packages/__pycache__/pathlib.cpython-312.pyc
pythonScripts/Lib/site-packages/__pycache__/pefile.cpython-312.pyc
pythonScripts/Lib/site-packages/__pycache__/peutils.cpython-312.pyc
pythonScripts/Lib/site-packages/__pycache__/whichcraft.cpython-312.pyc
pythonScripts/Lib/site-packages/_cffi_backend.cp312-win_amd64.pyd
pythonScripts/Lib/site-packages/_distutils_hack/
pythonScripts/Lib/site-packages/_pyinstaller_hooks_contrib/
pythonScripts/Lib/site-packages/altgraph-0.17.4.dist-info/
pythonScripts/Lib/site-packages/altgraph/
pythonScripts/Lib/site-packages/bottle-0.12.25.dist-info/
pythonScripts/Lib/site-packages/bottle.py
pythonScripts/Lib/site-packages/bottle_websocket-0.2.9.dist-info/
pythonScripts/Lib/site-packages/bottle_websocket/
pythonScripts/Lib/site-packages/cffi-1.16.0.dist-info/
pythonScripts/Lib/site-packages/cffi/
pythonScripts/Lib/site-packages/distutils-precedence.pth
pythonScripts/Lib/site-packages/eel/
pythonScripts/Lib/site-packages/future-1.0.0.dist-info/
pythonScripts/Lib/site-packages/future/
pythonScripts/Lib/site-packages/gevent-24.2.1.dist-info/
pythonScripts/Lib/site-packages/gevent/
pythonScripts/Lib/site-packages/gevent_websocket-0.10.1.dist-info/
pythonScripts/Lib/site-packages/geventwebsocket/
pythonScripts/Lib/site-packages/greenlet-3.0.3.dist-info/
pythonScripts/Lib/site-packages/greenlet/
pythonScripts/Lib/site-packages/libfuturize/
pythonScripts/Lib/site-packages/libpasteurize/
pythonScripts/Lib/site-packages/ordlookup/
pythonScripts/Lib/site-packages/past/
pythonScripts/Lib/site-packages/pathlib-1.0.1.dist-info/
pythonScripts/Lib/site-packages/pathlib.py
pythonScripts/Lib/site-packages/pefile-2023.2.7.dist-info/
pythonScripts/Lib/site-packages/pefile.py
pythonScripts/Lib/site-packages/peutils.py
pythonScripts/Lib/site-packages/pkg_resources/
pythonScripts/Lib/site-packages/py_unused_deps-0.4.0.dist-info/
pythonScripts/Lib/site-packages/pycparser-2.21.dist-info/
pythonScripts/Lib/site-packages/pycparser/
pythonScripts/Lib/site-packages/pycryptodome-3.20.0.dist-info/
pythonScripts/Lib/site-packages/pyinstaller_hooks_contrib-2024.3.dist-info/
pythonScripts/Lib/site-packages/pyparsing-3.1.2.dist-info/
pythonScripts/Lib/site-packages/pyparsing/
pythonScripts/Lib/site-packages/pywin32_ctypes-0.2.2.dist-info/
pythonScripts/Lib/site-packages/requests_toolbelt-1.0.0.dist-info/
pythonScripts/Lib/site-packages/requests_toolbelt/
pythonScripts/Lib/site-packages/setuptools-69.2.0.dist-info/
pythonScripts/Lib/site-packages/setuptools/
pythonScripts/Lib/site-packages/tenacity-6.0.0.dist-info/
pythonScripts/Lib/site-packages/tenacity/__pycache__/compat.cpython-312.pyc
pythonScripts/Lib/site-packages/tenacity/compat.py
pythonScripts/Lib/site-packages/unused_deps/
pythonScripts/Lib/site-packages/whichcraft-0.6.1.dist-info/
pythonScripts/Lib/site-packages/whichcraft.py
pythonScripts/Lib/site-packages/win32ctypes/
pythonScripts/Lib/site-packages/zope.event-5.0-py3.11-nspkg.pth
pythonScripts/Lib/site-packages/zope.event-5.0.dist-info/
pythonScripts/Lib/site-packages/zope.interface-6.2-py3.12-nspkg.pth
pythonScripts/Lib/site-packages/zope.interface-6.2.dist-info/
pythonScripts/Lib/site-packages/zope/
pythonScripts/Scripts/__pycache__/
pythonScripts/Scripts/bottle.py
pythonScripts/Scripts/futurize.exe
pythonScripts/Scripts/pasteurize.exe
pythonScripts/Scripts/py-unused-deps.exe
pythonScripts/Lib/site-packages/pandas/
pythonScripts/Lib/site-packages/PyInstaller/
pythonScripts/Lib/site-packages/auto_py_to_exe-2.43.1.dist-info/
pythonScripts/Lib/site-packages/auto_py_to_exe/
pythonScripts/Lib/site-packages/pyinstaller-6.5.0.dist-info/
pythonScripts/Scripts/auto-py-to-exe.exe
pythonScripts/Scripts/autopytoexe.exe
pythonScripts/Scripts/pyi-archive_viewer.exe
pythonScripts/Scripts/pyi-bindepend.exe
pythonScripts/Scripts/pyi-grab_version.exe
pythonScripts/Scripts/pyi-makespec.exe
pythonScripts/Scripts/pyi-set_version.exe
pythonScripts/Scripts/pyinstaller.exe

.venv